# DB
MYSQL_ROOT_PASSWORD="docker"
MYSQL_DATABASE="HouseholdBudgetDev"
MYSQL_USER="docker"
MYSQL_PASSWORD="docker"
ConnectionStrings__DbConnection="Server=db;Port=3307;Database=HouseholdBudgetDev;User=docker;Password=docker;SslMode=None;AllowPublicKeyRetrieval=true;"

# Gemini CLI
GOOGLE_CLOUD_PROJECT="MyGoogleCloudProject"
GEMINI_API_KEY="MyApiKey"
GEMINI_MODEL="gemini-2.5-pro"
