@if(isVisible()){
<div class="fixed bottom-2.5 w-full flex justify-center h-[7dvh] bg-transparent">
  <nav class="w-[90%] h-[7dvh] flex items-center justify-center rounded-2xl bg-main-blue z-[1000]">
    <a
      routerLink="/input"
      class="flex items-center justify-center w-1/4 h-[7dvh] bg-transparent hover:bg-white/20 hover:text-black transition-colors"
    >
      <img
        class="h-4/5 invert z-[2000] bg-transparent"
        src="input-icon.png"
        alt="input-icon"
        aria-hidden="true"
      />
    </a>
    <a
      routerLink="/calender"
      class="flex items-center justify-center w-1/4 h-[7dvh] bg-transparent hover:bg-white/20 hover:text-black transition-colors"
    >
      <img
        class="h-4/5 invert z-[2000] bg-transparent"
        src="calendar-icon.png"
        alt="calender-icon"
        aria-hidden="true"
      />
    </a>
    <a
      routerLink="/report"
      class="flex items-center justify-center w-1/4 h-[7dvh] bg-transparent hover:bg-white/20 hover:text-black transition-colors"
    >
      <img
        class="h-4/5 invert z-[2000] bg-transparent"
        src="report-icon.png"
        alt="report-icon"
        aria-hidden="true"
      />
    </a>
    <a
      routerLink="/settings"
      class="flex items-center justify-center w-1/4 h-[7dvh] bg-transparent hover:bg-white/20 hover:text-black transition-colors"
    >
      <img
        class="h-4/5 invert z-[2000] bg-transparent"
        src="settings-icon.png"
        alt="settings-icon"
        aria-hidden="true"
      />
    </a>
  </nav>
</div>
}
