<div class="navbar__container">
  <div class="navbar">
    <a routerLink="/input">
      <img class="navbar__icon" src="input-icon.png" alt="input-icon" aria-hidden="true" />
    </a>
    <a routerLink="/calender">
      <img class="navbar__icon" src="calendar-icon.png" alt="calender-icon" aria-hidden="true" />
    </a>
    <a routerLink="/report">
      <img class="navbar__icon" src="report-icon.png" alt="report-icon" aria-hidden="true" />
    </a>
    <a routerLink="/settings">
      <img class="navbar__icon" src="settings-icon.png" alt="settings-icon" aria-hidden="true" />
    </a>
  </div>
</div>
