@media (max-width: 768px) {
  .input__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .mainForm {
    width: 90%;
    background-color: aliceblue;
    font-size: 18px;
    padding: 10px;
    border: 2px solid var(--main-blueColor);
    border-radius: 8px;
    box-sizing: border-box;
  }
  .submit-button {
    background-color: var(--main-blueColor);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    width:90%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .genre-button {
    background-color: var(--main-greenColor);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 22%;
    aspect-ratio: 1/1;
  }
  .genre-button:hover {
    background-color: var(--main-greenColor-hover);
  }

  .plus-button {
    background-color: var(--main-blueColor);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 22%;
    aspect-ratio: 1/1;
  }
  .plus-button:hover {
    background-color: var(--main-blueColor-hover);
  }

  .genres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    padding: 1rem 0;
  }
}
