<p class="title">入力</p>
<div class="input__container">
  <input
    class="mainForm"
    type="number"
    [formControl]="inputControl"
    placeholder="支出を入力してください"
  />
  <div class="genres">
    @for(genre of genres(); track i; let i = $index) { @if(genre === '+') {
    <button class="plus-button">
      <img class="plus-icon" src="plus-icon.png" alt="plus-icon" />
    </button>
    } @else {
    <button
      class="genre-button"
      [class.selected]="i === selectedGenreIndex()"
      (click)="selectGenre(i)"
    >
      {{ genre }}
    </button>
    } }
  </div>
  <button class="submit-button" (click)="register()">登録</button>
</div>
