/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
a,
u {
  text-decoration: none;
}

:root {
  --main-blueColor: rgb(51, 153, 255);
  --main-blueColor-hover: rgba(51, 153, 255, 0.8);
  --transition-time: 0.7s;
}
