<header class="header">
  <div class="header__logo-container">
    @if(authButtonsVisible()) {
    <a [routerLink]="['/']">
      <img class="header__logo" src="pig-icon.png" alt="logo" aria-hidden="true" />
    </a>
    }@else{
    <a [routerLink]="['/input']">
      <img class="header__logo" src="pig-icon.png" alt="logo" aria-hidden="true" />
    </a>
    }
    <h1 class="header__title">Budget</h1>
  </div>
  @if (authButtonsVisible()) {
  <div class="header__auth">
    <button class="header__auth-button login" routerLink="/login">Login</button>
    <button class="header__auth-button register" routerLink="/register">Register</button>
  </div>
  }
</header>
