<h1 class="text-2xl font-bold font-serif text-white text-center mx-2.5 my-2.5">
  金钱の感觉を锐敏にしまレょう！
</h1>
<h2 class="text-2xl font-bold font-serif text-white text-center mx-2.5 my-2.5">
  性价比高、合理的なAPP!
</h2>
<div class="text-center mt-5">
  <button
    class="bg-main-blue w-[80%] h-12 border-0 rounded-xl text-white px-8 py-2 text-center no-underline inline-block text-base mx-1 my-1 cursor-pointer hover:bg-main-blue-hover transition-colors"
    routerLink="/register"
  >
    Create Account
  </button>
</div>
